.about-numbers {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows: 2;
    grid-column-gap: 96px;
    grid-row-gap: 67px;
    margin: 67px 0;
}

.quote-card {
    margin-top: 42px;
}