* {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}

.logo {
    width: 180px;
    height: 16px;
}
/*-------------------------*/
h1 {
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    color: #555555;
    padding-top: 102px;
    padding-bottom: 38px;
}

.wrapper-heading {
    display: flex;
    justify-content: center;
}

.header {
    background-color: #F5ECE3;
}

.nav-icon {
    width: 16px;
    height: 16px;
    background-position:center;
    background-repeat: no-repeat;
}

.icon-search-black {
    background-image: url('./img/icon-search-black.png');
}

.icon-cart-black {
    background-image: url('./img/icon-cart-black.png');
}

.icon-cabinet-black {
    background-image: url('./img/icon-cabinet-black.png');
}
/*-------------------------*/
.header-top .wrapper {
    display: flex;
    justify-content: space-between;
    height: 121px;
    align-items: center;
}

.nav ul {
    display: flex;
    list-style-type: none;
}

.nav ul li{
   height: 16px;
}

/*--------------------------*/
.nav ul a{
    text-decoration: none;
    font-size:14px;
    line-height: 16.8px;
    color: #555555;
}
/*-----------------------------*/

.nav ul li:first-child,
.nav-left ul li:nth-child(2) {
    margin-right: 48px;
}

.nav-icons {
    display: flex;
    justify-content: space-between;
    width: 91px;
}

.main {
    background-color: #F5ECE3;
}

.contacts-bg {
    width: 100%;
}

.contacts-block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
    padding: 40px 0;
}

.contact-card {
    background-color: #EEE4DA;
    padding: 44px 50px;
}

.contact-info,
.contact-info-name {
    line-height: 110%;
    color: #555555;
}

.contact-info-name {
    font-size: 16px;
    opacity: 0.3;   
}

.contact-info {
    font-size: 21px;
}

.social-media-quote p {
    font-size: 32px;
    line-height: 150%;
    color: #555555;
    width: 492px;
}

.footer-icons {
    display: flex;
    justify-content: space-evenly;
}

.social-media-icons a{
    width: 62px;
    height: 62px;
    background-color: #EEE4DA;
    border-radius: 50%;
}

.icon {
    width: 62px;
    height: 62px;
    background-color: #EEE4DA;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.icon-fb {
    background-image: url('./img/icon-fb.png');
}

.icon-insta {
    background-image: url('./img/icon-insta-fot.png');
}

.icon-tw {
    background-image: url('./img/icon-tw.png');
}

.icon-youtube {
    background-image: url('./img/icon-youtube.png');
}

.icon-vk {
    background-image: url('./img/icon-vk.png');
}

.instagram-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
    padding-bottom: 127px;
}

.footer {
    background-color: #EEE4DA
}

.footer-logo {
    margin: 0 auto;
    padding-top: 75px;
    padding-bottom: 65px;
}

.footer-top {
    border-bottom: 1px solid #E2D9CF;
}

.footer a, 
.footer p {
    color:#555555;
    opacity: 0.4;
}

.footer p {
    font-size: 14px;
    line-height: 160%;
}

.footer a {
    text-decoration: none;
    width: 36px;
    height: 36px;
    background-color: #F5ECE3;
    border-radius: 50%;
}

.footer li {
    list-style-type: none;
    margin-bottom: 25px;
}

.footer-bottom {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    column-gap: 160px;
    padding-top: 64px;
}

h3 {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #555555;
}

.footer-company h3,
.footer-contacts h3 {
    margin-bottom: 26px;
}

.footer-navigation h3, 
.footer-products h3 {
    margin-bottom: 42px;
}

.footer-icons {
    margin: 26px 0;
    display: flex;
    justify-content: space-evenly;
}

.icon {
    width: 36px;
    height: 36px;
    background-repeat: no-repeat;
    background-position: center;
}

.icon-fb {
    background-image: url('./img/icon-fb.png');
}

.icon-insta {
    background-image: url('./img/icon-insta-fot.png');
}

.icon-tw {
    background-image: url('./img/icon-tw.png');
}

.icon-youtube {
    background-image: url('./img/icon-youtube.png');
}

.icon-vk {
    background-image: url('./img/icon-vk.png');
}

.social-media {
    margin-top: 24px;
}

.social-media a {
    margin-right: 35px;
}