.card_component {
    background-color: #F5ECE3;
}

.card_component .wrapper {
    width: 90%;
    display: flex;
}

.card_component h1 {
    text-align: left;
}

.card_component h2 {
    font-size: 36px;
    line-height: 40px;
    color: #555555;
    margin-bottom: 23px;
}

.card_component .request-col1 {
    width:43%
}

.card_settings {
    width: 27%;
    padding-right: 75px;
    display: flex;
    align-items: center;
    padding-top: 140px;
}

.orderBlock {
    background-color: #EAF4DA;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 53px;
    padding: 0 70px ;
    max-width: 30%;
    min-width: 30% !important;
    padding-bottom: 120px;
    padding-top: 109px;
}

.card_component .request-col1 {
    display: flex;
    align-items: center;
}

.card_component .request-content {
    width: 87%;
}

.card_component .request-col1 h3 {
    font-size: 36px;
    line-height: 110%;
    letter-spacing: -0.03em;
    color: #555555;
    margin-bottom: 30px;
}

.card_component .input-card p {
    font-size: 13px;
    line-height: 110%;
    color: #AC8F78;
    margin-bottom: 15px;
}

.card_component .input-card input {
    height: 46px;
    background-color: #F5ECE3;
    border: none;
    border-bottom:#AC8F78 solid 1px;
    margin-bottom: 30px;
    width: 100%;
}

.card_component .btn-request {
    width: 362px;
    height:80px;
    border: none;
    background: #EEE4DA;
    backdrop-filter: blur(14px);
    border-radius: 66px;
    cursor: pointer;
    font-size: 20px;
    line-height: 24px;
    color: #555555;
}

.card_component .btn-request p {
    width: 165px;
    margin: 0 auto;
}

.card_component .btn-request p::after {
    content: "";
    position: relative;
    float: right;
    margin: 2px 5px 0 0;
    width: 24px;
    height: 24px;
    background-image: url('../img/btn-arrow-right.png');
    background-repeat: no-repeat;
    background-position: center;
}


.favour p {
    font-size: 14px;
    line-height: 17px;
    color: #555555;
}

.favour button {
    background-color: #F5ECE3;
    border: none;
    height: 17px;
    margin-bottom: 54px;
}

.favour p::before{
    content: "";
    position: relative;
    float: left;
    margin: 2px 5px 0 0;
    width: 24px;
    height: 16px;
    background-image: url('../img/icon-heart.png');
    background-repeat: no-repeat;
    background-position: center;
}

.card_settings h4 {
    color: #555555;
    line-height: 29px;
    font-size: 16px;
    margin-bottom: 9px;
}

.settingblock1 p {
    font-size: 14px;
    line-height: 170%;
    color: #555555;
    margin-bottom: 18px;
}

.btn-card-signin {
    border: none;
    background-color: #F5ECE3;
}

.btn-card-signin p {
    font-size: 16px;
    line-height: 120%;
    color: #AC8F78;
}

.btn-card-signin p::before{
    content: "";
    position: relative;
    float: left;
    margin: 2px 5px 0 0;
    width: 27px;
    height: 19px;
    background-image: url('../img/signin.png');
    background-repeat: no-repeat;
    background-position: center;
}

.settingblock1 {
    margin-bottom: 63px;
}

.comment {
    font-size: 14px;
    line-height: 150%;
    color: #555555;
    opacity: 0.5;
    text-align: center;
    margin: 0 auto;
}


.card_component .item_image img {
    width: 100%;
}

.card_component .card_items {
    margin-bottom: 29px;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(102px, 1fr));
    grid-gap: 6px;
}

.card_component .card_item {
    width: 102px;
    background-color: #EEE4DA;
    padding: 15px;
    margin-right: 6px;
}

.card_component .card_item input {
    width: 100%;
}

option {
    color: #555555;
}

.inputs {
    height: 55px;
    background-color: #EEE4DA;
    margin-bottom: 23px;
    width: 100%;
    border: none;
}

.select {
    position: relative;
    display: inline-block;
    width: 100%;
}

.select:after {
    content: "↓";
    padding: 0 8px;
    font-size: 25px;
    position: absolute;
    right: 8px;
    top: 12px;
    z-index: 1;
    text-align: center;
    width: 10%;
    height: 100%;
    pointer-events: none;
    box-sizing: border-box;
}

select {
    padding-right: 25px;
    padding-left: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.order-top {
    display: flex;
    justify-content: space-between;
}

.order-top p {
    font-size: 14px;
    line-height: 40px;
    color: #555555;
    
}

.total {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    line-height: 110%;
    color: #555555;
    margin-bottom: 28px;
    margin-top: 29px;
}

.btn-order {
    background-color: #F5ECE3;;
    border: none;
    border-radius: 66px;
    width: 100%;
    height: 80px;
    margin-bottom: 19px;
    border: 1px solid #AC8F78;
}

.btn-order p {
    font-size: 20px;
    line-height: 120%;
    color: #555555;
    margin: 0 auto;
    width: 190px;
}

.btn-order p::after {
    content: "";
    position: relative;
    float: right;
    margin: 2px 5px 0 0;
    width: 13px;
    height: 23px;
    background-image: url('../img/btn-arrow-right.png');
    background-repeat: no-repeat;
    background-position: center;
}

.order_wrapper .comment::before{
    content: "";
    position: relative;
    float: left;
    margin: 2px 5px 0 0;
    width: 27px;
    height: 19px;
    background-image: url('../img/edit.png');
    background-repeat: no-repeat;
    background-position: center;
}

.card_component .arrows {
    background-color: #F5ECE3;
    border-radius: 10px;
    height: 31px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 19px;
    border: 1px solid #AC8F78;
    margin-bottom: 10px;
}

.order_wrapper .comment {
    width: 120px;
}

.order_wrapper {
    width: 100%;
}

.items {
    width: 100%;
}

.card_item .t_price,
.card_item input {
    display: none;
}

@media (max-width:1026px) {
    
    .card_settings {
        width:50%;
        padding-right: 45px;
    }

    .card_component .request-col1 {
        width: 50%;
    }


    .orderBlock {
        width: 100%;
        max-width: 100%;
    }

    .card_component .card_item {
        padding: 0px;
    }

}


@media (max-width:977px) {
    
    .card_component .wrapper {
        display: block;
    }

    .card_settings,
    .card_component .request-col1, 
    .orderBlock {
        margin: 0 auto;
        width: 80%;
        padding: 30px;
    }
}

@media (max-width:426px) {
    
    .orderBlock {
        margin: 0 auto;
        width: 80%;
    }
}

@media (max-width:325px) {

    .card_component h2 {
        font-size:29px !important;
    }

}