<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="card_settings">
        <div class="settingblock1">
            <div class="favour">
                <p>Add all products to favorites</p>
            </div>
            <h4>Set up in a couple of minutes</h4>
            <p>If you are already registered on the site, then you just need to enter your profile so as not to enter information again.</p>
            <button>Sign in</button>
        </div>
        <div class="shipping">
            <p>Choose a shipping method</p>
            <input>
            <input>
            <p class="comment">Shipping cost is calculated individually by the manager</p>
        </div>
    </div>

    <div class="order_wrapper">
        <div class="order-top">
            <h2></h2>
            <p></p>
            <div class="order-arrows"></div>
        </div>
        <div class="items"></div>
        <div class="total">
            <p></p>
            <div class="total_price"></div>
        </div>
        <button><p>Send your order</p></button>
        <p class="comment">Edit this order</p>
    </div>
</body>
</html>