.card_component {
    background-color: #F5ECE3;
}

.card_component .wrapper {
    padding-top: 140px;
    width: 90%;
    display: flex;
}

.card_component h1 {
    text-align: left;
}

.card_component .request-col1 {
    width:43%
}

.card_settings {
    width: 27%;
    padding-right: 160px;
    display: flex;
    align-items: center;
}

.orderBlock {
    width: 30%;
}

.card_component .request-col1 {
    display: flex;
    align-items: center;
}

.card_component .request-content {
    width: 87%;
}

.card_component .request-col1 h3 {
    font-size: 36px;
    line-height: 110%;
    letter-spacing: -0.03em;
    color: #555555;
    margin-bottom: 30px;
}

.card_component .input-card p {
    font-size: 13px;
    line-height: 110%;
    color: #AC8F78;
    margin-bottom: 15px;
}

.card_component .input-card input {
    height: 46px;
    background-color: #F5ECE3;
    border: none;
    border-bottom:#AC8F78 solid 1px;
    margin-bottom: 30px;
    width: 100%;
}

.card_component .btn-request {
    width: 362px;
    height:80px;
    border: none;
    background: #EEE4DA;
    backdrop-filter: blur(14px);
    border-radius: 66px;
    cursor: pointer;
    font-size: 20px;
    line-height: 24px;
    color: #555555;
}

.card_component .btn-request p {
    width: 165px;
    margin: 0 auto;
}

.card_component .btn-request p::after {
    content: "";
    position: relative;
    float: right;
    margin: 2px 5px 0 0;
    width: 24px;
    height: 24px;
    background-image: url('../img/btn-arrow-right.png');
    background-repeat: no-repeat;
    background-position: center;
}


.favour p {
    font-size: 14px;
    line-height: 17px;
    color: #555555;
}

.favour button {
    background-color: #F5ECE3;
    border: none;
    height: 17px;
    margin-bottom: 54px;
}

.card_settings h4 {
    color: #555555;
    line-height: 29px;
    font-size: 16px;
    margin-bottom: 9px;
}

.settingblock1 p {
    font-size: 14px;
    line-height: 170%;
    color: #555555;
    margin-bottom: 18px;
}

.btn-card-signin {
    border: none;
    background-color: #F5ECE3;
    font-size: 16px;
    line-height: 120%;
    color: #AC8F78;
}

.settingblock1 {
    margin-bottom: 63px;
}

.comment {
    font-size: 14px;
    line-height: 150%;
    color: #555555;
    opacity: 0.5;
    margin-top: 20px;
}


.card_component .item_image img {
    width: 100%;
}

.card_component .card_items {
    display: flex;
}

.card_component .card_item {
    width: 102px;
    height: 150px;
    /* background-color: #F5ECE3; */
    background-color: #EEE4DA;
    padding: 15px;
}

.card_component .card_item input {
    width: 100%;
}



