.catalog_component {
    background-color: #F5ECE3;
}

.catalog_component .wrapper {
    padding-top: 52px;
}

.filters-nav {
    background-color:#EEE4DA;
    display: flex;
    justify-content: center;
    padding: 14px 0;
    width: 100%;
}

.filters-nav button {
    background-color:#EEE4DA;
    border: none;
    margin-right: 70px;
}

h1 {
    text-align: center;
}

.catalog_component .main .wrapper {
    width: 92%;
}

.catalog-grid {
    display: grid;
    grid-column-gap:20px;
    grid-row-gap:30px;
    grid-template-columns: 
        repeat(auto-fill, minmax(310px, 1fr));
    padding: 70px 0;
}

.catalog-grid-item {
    background-color: #EEE4DA;
    height: 430px;
}

.catalog-grid-item {
    display: flex;
    align-items: flex-end;
    padding:24px 21px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.catalog_component .catalog-grid-item img {
    width: 280px;
    height: 320px;
    position: absolute;
    top: 30px;
    left: 15px;
}

.card-description {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.cat-item1,
.cat-item6,
.cat-item9 {
    background-image: url(../img/goods1.png);
}

.cat-item2,
.cat-item5,
.cat-item7 {
    background-image: url(../img/goods2.svg);
}

.cat-item3,
.cat-item4,
.cat-item8 {
    background-image: url(../img/goods3.png);
}

.infoblock2 .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #555555;
    width: 100%;
}

.about-col2 {
    display: flex;
    justify-content:center;
    align-items: center;
}

.col1 img {
    width: 100%;
}

.col2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-wrapper {
    width: 73%;
}

.about_logo {
    margin-bottom: 67px;
}

.quote {
    font-weight: 400;
    font-size: 32px !important;
    line-height: 150% !important;
    margin-bottom: 34px;
}

.description {
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;
    margin-bottom: 44px;
}

.signature {
    display: flex;
}

.signature-desription {
    margin-right: 35px;
}

.name {
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: -0.02em;
    margin-bottom: 4px;
}

.position {
    font-weight: 400;
    font-size: 13px;
    line-height: 130%;
}

.infoblock2 {
    padding-bottom: 70px;
}