.header,
.main {
    background-color: #F5ECE3;
}

.menu-main a {
    color: #555555;
}

.hamb-line,
.hamb-line::before,
.hamb-line::after {
    background: #555555;
} 

.logo {
    background-image: url('../img/logo-black.png');
}

.back-page {
    padding-top: 134px;
}

.header-slider {
    display: none;
}

h1 {
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    color: #555555;
    margin: 29px 0;
}

.icon-search {
    background-image: url('../img/icon-search-black.png');
}

.icon-cart {
    background-image: url('../img/icon-cart-black.png');
}

.icon-cabinet {
    background-image: url('../img/icon-cabinet-black.png');
}

.main .wrapper {
    width: 57%;
    padding-bottom: 110px;
}

.main p {
    color: #555555;
    font-size: 20px;
    line-height: 180%;
}

.main a {
    text-decoration: none;
}

.back-page a {
    line-height: 17px;
}

.back-page a::before {
    content: "";
    position: relative;
    float: left;
    margin: 2px 5px 0 0;
    width: 34px;
    height: 34px;
    background-image: url('../img/arrow-black-left.png');
    background-repeat: no-repeat;
    background-position: center;
}

.number-card h2{
    font-size: 96px;
    line-height: 110%;
    letter-spacing: -0.03em;
    color: #E3DAD0;
}

.number-card p {
    font-size: 20px;
    line-height: 180%;
    color: #555555;
}

.bc-img {
    width: 100%;
    margin: 56px 0;
}

.quote-text {
    width: 70%;
}

.quote-text p {
    font-size: 32px;
    line-height: 150%;
    letter-spacing: -0.03em;
    color: #555555;
}

.quote-card {
    display: flex;
    justify-content: center;
    background-color: #EEE4DA;
    padding-top: 52px;
    padding-bottom: 61px;
}

.quote-card-content {
    width: 86%;
}

.card-signature {
    display: flex;
    justify-content: space-between;
    margin-top: 29px;
}

.icon-signature-block {
    display: flex;
}

.signature-description {
    margin-left: 25px;
}

.name, 
.position {
    line-height: 130% !important;  
}

.name {
    font-size: 24px !important;
}

.position {
    font-size: 13px !important;
}
/*--------------------------------------?????
@media (max-width:1028px) {
    .top-menu {
        background-color: #E3DAD0;
    }

    .hamb {
        background-color: #E3DAD0;
    }
}*/

@media (max-width: 800px) {

    .main .wrapper {
        width: 90%;
    }

    .quote-text {
        width: 100%;
    }

    .main .wrapper {
        padding-bottom: 60px;
    }

}

@media (max-width: 426px) {
    
    h1 {
        font-size: 36px;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    p {
        font-size: 16px;
    }

    h2 {
        font-size: 66px;
    }

    .number-card p {
        font-size: 16px;
    }

    .main p {
        font-size: 16px;
    }

    .back-page p {
        font-size: 14px !important;
    }

    .back-page a::before {
        height: 20px;
    }

    .back-page {
        margin-left: 30%;
    }

    .about-numbers {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 33px;
        grid-row-gap: 30px;
    }

    .quote-text p {
        font-size: 27px !important;
    }

}


@media (max-width: 376px) {

    .icon-signature-block img {
        display: none;
    }

}