.partners_component .bc-img {
    margin: 56px 0;
    margin-top: 0;
    margin-bottom: 50px;
}

.partners_component .btn-wrapper {
    display: flex;
    justify-content: center;
}

.partners_component .btn-partner {
    background-color: #EEE4DA;
    font-size: 20px;
    line-height: 120%;
    border-radius: 66px;
    width: 270px;
    height:80px;
    border: none;
    margin-top: 30px;
    margin-bottom: 70px;
    cursor: pointer;
    position: relative;
}

.partners_component .quote-text {
    margin-bottom: 42px;
}


.btn-partner a {
    position: absolute;
    left: 51px;
    top: 26px;
    margin: 0 auto;
    color: #555555;
}

.partners_component .btn-partner a::after {
    content: "";
    position: relative;
    float: right;
    margin: 2px 5px 0 0;
    width: 24px;
    height: 25px;
    background-image: url('../img/btn-arrow-right.png');
    background-repeat: no-repeat;
    background-position: center;
}