.popup__bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #EEE4DA;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s all;
}

.popup__bg.active {
    opacity: 1;
    pointer-events: all;
    transition: 0.5s all;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: #F5ECE3;;
    width: 400px;
    padding: 25px;
    transition: 0.5s all;
}

.popup textarea {
    background-color: #F5ECE3;
}

.popup input {
    background-color: #F5ECE3;
    border: none;
    border-bottom: #AC8F78 solid 1px;
    margin-bottom: 30px;
}
   

.popup.active {
    transform: translate(-50%, -50%) scale(1);
    transition: 0.5s all;
}

.close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.popup label {
    width: 100%;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column-reverse;
}

.popup .label__text {
    font-size: 13px;
    line-height: 110%;
    color: #AC8F78;
    margin-bottom: 15px;
}

.popup input {
    height: 45px;
    font-size: 18px;
    border: none;
    outline: none;
    border-bottom: 1px solid #cfd0d3;
}

.popup input:focus {
    border-bottom: 1px solid #AC8F78;
}

.popup input:focus + .label__text {
    color: #AC8F78;
}

.popup textarea {
    resize: none;
    width: 100%;
    height: 150px;
    border: none;
    outline: none;
    border-bottom: 1px solid #cfd0d3;
    font-size: 18px;
    padding-top: 5px;
}

.popup textarea:focus {
    border-bottom: 1px solid #AC8F78;
}

.popup textarea:focus + .label__text {
    color: #AC8F78;
}

.popup button {
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s all;
    background-color: #EEE4DA;
    font-size: 20px;
    line-height: 120%;
    border-radius: 66px;
    border: none;
    color: #AC8F78;
}

.popup button:hover {
    background: #fff;
    color:#AC8F78;
    border: 2px solid #AC8F78;
    transition: 0.5s all;
}
