
.item_component .infoblock1 .wrapper,
.item_component .infoblock2 .wrapper,
.item_component .product-card-block .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #555555;
}

.item_component .product-info .content-wrapper {
    margin: 0 auto;
}

.item_component .favorites {
    margin-top: 169px;
}

.item_component .btn-add-cart {
    width: 100%;
    padding: 30px 160px;
    background-color: #EEE4DA;
    border: none;
    border-radius: 76px;
    margin-bottom: 53px;
}

.item_component .btn-add-cart p::before{
    content: "";
    position: relative;
    float: left;
    margin: 2px 5px 0 0;
    width: 30px;
    height: 31px;
    background-image: url('../img/icon-cart-black.png');
    background-repeat: no-repeat;
    background-position: center;
}

.item_component .about-product-info {
    margin-bottom: 239px;
}

.item_component .about-pr-btns {
    margin-bottom: 21px;
}

.item_component .btn-about-pr {
    padding: 3px 17px;
    font-size:16px;
    line-height:28.8px;
    color: #555555;
    opacity: 0.5;
    background-color: none;
    border: none;
}

.item_component .product-card-img {
    background-color: #EEE4DA;
}

.item_component .main .wrapper {
    width: 100%;
}

.item_component .favorites p::before{
    content: "";
    position: relative;
    float: left;
    margin: 2px 5px 0 0;
    width: 24px;
    height: 34px;
    background-image: url('../img/icon-heart.png');
    background-repeat: no-repeat;
    background-position: center;
}

.item_component .order-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 31px;
}

.item_component .order-numder {
    display: flex;
    height: 46px;
    /* background-color: #EEE4DA; */
}

.item_component .order-numder button,
.item_component .order-numder p {
    width: 46px;
    border: none;
    background-color: #EEE4DA;
}

.item_component .order-numder p {
    text-align: center;
}

.item_component .col1 img {
    width: 100%;
}

.item_component .col2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.item_component .content-wrapper {
    width: 73%;
}

.item_component .about_logo {
    margin-bottom: 67px;
}

.item_component .quote {
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    margin-bottom: 34px;
}

.quote-slider p {
    color: #555555;
}

.item_component .description {
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;
    margin-bottom: 44px;
}

.item_component .signature {
    display: flex;
}

.item_component .signature-desription {
    margin-right: 35px;
}

.item_component .name {
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: -0.02em;
    margin-bottom: 4px;
}

.item_component .position {
    font-weight: 400;
    font-size: 13px;
    line-height: 130%;
}

.item_component .quote-slider {
    display: flex;
    justify-content: space-between;
}

.item_component .quote-slider p {
    font-weight: 300;
    font-size: 48px;
    line-height: 130%;
    width: 46%;
    margin-bottom: 75px;
    margin-left: 35px;
}

.item_component .arrows {
    background: #EEE4DA;
    border-radius: 10px;
    padding: 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 25px;
    margin-top: 10%;
    margin-right: 194px;
}

.item_component .arrow-right {
    margin-left: 18px;
}

.item_component .products {
    padding: 35px;
}

/* .item_component .catalog-grid {
    display: grid;
    grid-column-gap:20px;
    grid-row-gap:30px;
    grid-template-columns: 
        repeat(auto-fill, minmax(310px, 1fr));
    padding: 70px 0;
} */

.item_component .catalog-grid-item {
    background-color: #EEE4DA;
    height: 430px;
}

.item_component .catalog-grid-item {
    display: flex;
    align-items: flex-end;
    padding:24px 21px;
    background-size: cover;
    background-repeat: no-repeat;
}

.item_component .card-description {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* .catalog-grid {
    display: flex;
    overflow: hidden;
} */

.item_component .catalog-grid-item {
    width: 310px !important;
    height: 430px;
    margin-right: 20px;
}



